@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600;800&family=Knewave&family=Pathway+Gothic+One&family=Special+Elite&display=swap');

/*
font-family: 'Gothic A1', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Knewave', cursive;
font-family: 'Special Elite', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(61, 30, 30);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
}
h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 60px;
    color: #e8d1d1;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.soundboard {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.board {
    display: flex;
    align-items: space-around;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
}

.key {
    background-color: #fefefe;
    position: relative;
    margin: 20px;
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
    padding: 20px;
}
.key.active {
    background-color: #949494;
}

.button {
    border: 0;
    box-sizing: border-box;
    background: transparent;
    width: 0;
    height: 54px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 32px 0px 30px 50px;
    margin-left: 20px;
}
.button.paused {
    border-style: double;
    border-width: 0px 0px 0px 50px;
}
.button:hover {
    border-color: transparent transparent transparent #404040;
}
  
.btnContainer {
    border: 1px solid black;
    height: 17%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 48%; 
    text-align: center; 
    margin: 10px; 
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.info {
    width: 250px;
    height: 30px;
    margin-left: 15px;
    text-align: left;
    transition: 0.3s ease-in-out;
    color: #fefefe;
    font-size: 22px;
}
.btnContainer:hover .info {
    width: 250px;
    height: 30px;
    margin-left: 15px;
    overflow: hidden;
    color: #222;
    transition: 0.3s ease-in-out;
}

@media (min-width: 825px) and (max-width: 1650px) {
    .btnContainer {
        width: 44%; 
    }
    .info {
        width: auto;
        height: 40px;
        line-height: 16px;
        margin-left: 5px;
        text-align: left;
        transition: 0.3s ease-in-out;
        color: #fefefe;
        display: flex;
        align-items: center;
        font-size: 18px;
    }
    .btnContainer:hover .info {
        width: auto;
        height: 40px;
        margin-left: 5px;
        overflow: hidden;
        color: #222;
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
    }
    .button {
        border: 0;
        box-sizing: border-box;
        background: transparent;
        width: 0;
        height: 25px;
        border-color: transparent transparent transparent #202020;
        transition: 100ms all ease;
        cursor: pointer;
        border-style: solid;
        border-width: 30px 0px 30px 40px;
        margin-left: 5px;
    }
    .button.paused {
        border-style: double;
        border-width: 0px 0px 0px 40px;
        height: 40px;
        width: 0;
    }
}
@media (max-width: 824px) {
    h1 {
        font-size: 50px;
        margin: 45px auto;
    }
    .key {
        padding: 10px;
    }
    .info {
        width: auto;
        height: 40px;
        line-height: 16px;
        margin-left: -2px;
        text-align: left;
        transition: 0.3s ease-in-out;
        color: #fefefe;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .btnContainer:hover .info {
        width: auto;
        height: 40px;
        margin-left: -2px;
        overflow: hidden;
        color: #222;
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
    }
    .btnContainer {
        height: 15%;
        width: 42%;
    }
    .button {
        border: 0;
        box-sizing: border-box;
        background: transparent;
        width: 0;
        height: 10px;
        border-color: transparent transparent transparent #202020;
        transition: 100ms all ease;
        cursor: pointer;
        border-style: solid;
        border-width: 15px 0px 15px 25px;
        margin-left: 5px;
    }
    .button.paused {
        border-style: double;
        border-width: 0px 0px 0px 25px;
        height: 25px;
        width: 0;
    }
    .button:hover {
        border-color: transparent transparent transparent #404040;
    }
}